# üêº Pandas Practice: DataFrames, Selection, Mapping, and More

In [1]:
import pandas as pd
import numpy as np

# Set seed for reproducibility
np.random.seed(42)

# Sample data
names = ['Alice', 'Bob', 'Charlie', 'Diana', 'Ethan', 'Fiona', 'George', 'Hannah']
departments = ['Sales', 'Marketing', 'HR', 'Tech']

# Create a DataFrame
df = pd.DataFrame({
    'Name': np.random.choice(names, size=20),
    'Age': np.random.randint(22, 60, size=20),
    'Department': np.random.choice(departments, size=20),
    'Salary': np.random.randint(40000, 120000, size=20),
    'YearsExperience': np.random.randint(0, 20, size=20)
})
df.head()

      Name  Age Department  Salary  YearsExperience
0   George   43         HR   75920               15
1    Diana   23  Marketing  107121               12
2    Ethan   45       Tech  109479               17
3   George   51      Sales   59457               14
4  Charlie   59       Tech  106557               12

# üß™ PRACTICE QUESTIONS BELOW


# 1Ô∏è‚É£ Use .loc to select all rows where the Department is 'Tech'.
#    - Describe what .loc does and why it's useful for label-based filtering.

In [11]:
select=df.loc[df["Department"]=="Tech",]
select

       Name  Age Department  Salary  YearsExperience
2     Ethan   45       Tech  109479               17
4   Charlie   59       Tech  106557               12
12  Charlie   49       Tech  111211               11
13  Charlie   37       Tech  105697                7
15    Ethan   24       Tech   72606               18
17   Hannah   28       Tech   80397                7
19  Charlie   30       Tech   95591                2



> Add blockquote


# 2Ô∏è‚É£ Use .iloc to select the first 5 rows and the last two columns.
#    - What is the difference between .loc and .iloc?

In [13]:
select2=df.iloc[0:5,-2:]
select2

##loc select by name iloc by index


# 3Ô∏è‚É£ Map a new column called 'DeptCode' where:
#     'Sales' -> 1, 'Marketing' -> 2, 'HR' -> 3, 'Tech' -> 4.
#    - Use .map and explain what happens if a value is not mapped.

In [15]:
deptcode={"sales":1,"makting":2,"hr":3,"tech":4}
df["Department"]=df["Department"].map(deptcode)


# 4Ô∏è‚É£ Use .apply to calculate a new column 'Seniority' where:
#     - If YearsExperience > 10 ‚Üí 'Senior'
#     - If between 5-10 ‚Üí 'Mid-Level'
#     - Else ‚Üí 'Junior'
#    - Use a lambda function with apply.

In [19]:
df["YearsExperience"]=df["YearsExperience"].apply(lambda x: "senior"if x>10 else"mid-level"if x>5 else "juionr")


# 5Ô∏è‚É£ Overwrite all salaries for employees with < 3 years of experience to 35000.
#    - Use boolean indexing with .loc to do this.

In [22]:
df.loc[df["YearsExperience"] < 3, "Salary"] = 35000

TypeError: '<' not supported between instances of 'str' and 'int'


# 6Ô∏è‚É£ Compare using .loc and .iloc to select the same row:
#    - Select the 3rd row using .iloc
#    - Find its index value and use .loc to select the same row by label

In [25]:
row=df.iloc[1:3]
row2=df.loc["Name":"YearsExperience"]


# 7Ô∏è‚É£ Check if there are any duplicate names in the dataset.
#    - If there are, show only those duplicated rows.

In [28]:
df.duplicated(subset="Name")

0     False
1     False
2     False
3      True
4     False
5     False
6      True
7      True
8      True
9     False
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
dtype: bool


# 8Ô∏è‚É£ Sort the DataFrame by Salary in descending order.
#    - Then sort it by Department and within Department by Age.

In [30]:
df.sort_values(by="Salary",ascending=False)

       Name  Age  Department  Salary YearsExperience
6     Ethan   42         NaN  118953          senior
5    Hannah   23         NaN  117189       mid-level
11   George   48         NaN  112409          juionr
12  Charlie   49         NaN  111211          senior
2     Ethan   45         NaN  109479          senior
1     Diana   23         NaN  107121          senior
4   Charlie   59         NaN  106557          senior
13  Charlie   37         NaN  105697       mid-level
19  Charlie   30         NaN   95591          juionr
7     Ethan   54         NaN   92995          senior
10  Charlie   46         NaN   85758       mid-level
8    George   33         NaN   80757          juionr
17   Hannah   28         NaN   80397       mid-level
14   Hannah   36         NaN   77065       mid-level
0    George   43         NaN   75920          senior
15    Ethan   24         NaN   72606          senior
3    George   51         NaN   59457          senior
16    Diana   58         NaN   51534          senior
9       Bob   43         NaN   49692       mid-level
18   Hannah   42         NaN   41016          juionr


# 9Ô∏è‚É£ Slice the DataFrame to return rows 5 through 12 and columns 'Name', 'Salary'
#    - Try slicing using both label-based and position-based methods.

In [35]:
slicing=df.loc[5:12,[ "Name","Salary"]]


# üîü Find all rows where the name starts with 'A' or 'D'.
#    - Use string methods with .str accessor.

In [36]:
fin=df[df["Name"].str.startswith("A")|df["Name"].str.endswith("D")]


# 1Ô∏è‚É£1Ô∏è‚É£ Drop all rows where Age is below 25.
#     - Explain whether this modifies the DataFrame in place or returns a copy.

In [39]:
df.drop(df[df["Age"]<25].index)

       Name  Age  Department  Salary YearsExperience
0    George   43         NaN   75920          senior
2     Ethan   45         NaN  109479          senior
3    George   51         NaN   59457          senior
4   Charlie   59         NaN  106557          senior
6     Ethan   42         NaN  118953          senior
7     Ethan   54         NaN   92995          senior
8    George   33         NaN   80757          juionr
9       Bob   43         NaN   49692       mid-level
10  Charlie   46         NaN   85758       mid-level
11   George   48         NaN  112409          juionr
12  Charlie   49         NaN  111211          senior
13  Charlie   37         NaN  105697       mid-level
14   Hannah   36         NaN   77065       mid-level
16    Diana   58         NaN   51534          senior
17   Hannah   28         NaN   80397       mid-level
18   Hannah   42         NaN   41016          juionr
19  Charlie   30         NaN   95591          juionr


# 1Ô∏è‚É£2Ô∏è‚É£ Use groupby to calculate the average salary per Department.
#     - Bonus: Show the average age and average experience too.

In [42]:
groub=df.groupby("Department").mean()


# 1Ô∏è‚É£3Ô∏è‚É£ Use groupby to count how many employees are in each Department.

In [44]:
coun=df.groupby("Department").count()



*   List item
*   List item


# 1Ô∏è‚É£4Ô∏è‚É£ Use .apply to normalize the Salary column (min-max scaling between 0 and 1).
#     - Bonus: Write your own normalization function and pass it to apply.

In [49]:
mx=df["Salary"].max()
ms=df["Salary"].min()
norm=df.apply(lambda x:(x-ms)/(mx-ms))

TypeError: unsupported operand type(s) for -: 'str' and 'int'


# 1Ô∏è‚É£5Ô∏è‚É£ Use boolean indexing to find all employees who:
#     - Are in 'HR' OR 'Tech', AND have > 5 years of experience.

# üîÅ For many of these tasks, try both .loc and .iloc to build intuition on their differences.

In [ ]:
filtered = df.loc[
    ((df["Department"] == "HR") | (df["Department"] == "Tech")) & (df["YearsExperience"] > 5)
]